<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
    {% block title %}
        Index
    {% endblock %}
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src=
    'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js'>
    </script>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="https://cdn4.iconfinder.com/data/icons/redis-2/1451/Untitled-2-512.png" width="28" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">Home</a>

                <a class="navbar-item">Connections</a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Databases</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/db/0">DB-0</a>
                        <a class="navbar-item" href="/db/1">DB-1</a>
                        <a class="navbar-item" href="/db/2">DB-0</a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="/">List all</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div id="content"> {% block content %} {% endblock %} </div>

  </body>
</html>