{% extends "base.html" %}

{% block title %}
    Simple Redis Monitor :: {{ db_num }}
{% endblock %}

{% block content %}
    <div class="columns is-desktop">
        <div class="column is-one-quarter">
            <article class="panel is-info">
                <p class="panel-heading">Keys</p>
                {% for key in keys %}
                    <a class="panel-block is-active" href="/db/{{ db_num }}/{{ key }}">
                        {{ key }}
                    </a>
                {% endfor %}
            </article>
        </div>
        <div class="column">
            <article class="panel is-info">
                <p class="panel-heading">Info :: {{ key }}</p>
                <div class="panel-block">
                    {% if value_type == 'string' %}
                        <div class="field">
                            <div class="field has-addons is-horizontal">
                                <div class="control">
                                    <input class="input" type="text" placeholder="{{ value }}">
                                </div>
                                <div class="control">
                                    <a class="button is-info">Commit</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="field">
                            {% for val in value %}
                            <div class="field has-addons is-horizontal">
                                <div class="control">
                                    <input class="input" type="text" placeholder="{{ val }}">
                                </div>
                                <div class="control">
                                    <a class="button is-info">Commit</a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </article>
        </div>
    </div>



{% endblock %}

